@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Roboto+Condensed:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");

:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

/* Navigation */
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1920px;
}

.navbar {
  font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-weight: 700;
  width: 100%;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    40deg,
    rgba(255, 255, 255, 1) 80%,
    rgba(255, 198, 50, 1) 80%
  );
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
}

.navbar ul {
  list-style-type: none;
}
.navbar li {
  margin: 0 25px;
  text-transform: uppercase;
}

.navbar a {
  text-decoration: none;
  color: black;
}

.navbar .nav-left a:hover {
  color: #ffc632;
  transition: all 0.2s ease-in;
}

.nav-left {
  display: flex;
  align-items: center;
  width: 1440px;
}

.logo {
  width: 140px;
  height: 55px;
}

.nav-right {
  display: flex;
  align-items: center;
}
.nav-right .XL {
  padding-left: 100px;
  margin-right: 100px;
}
.nav-right .XL a {
  font-size: 1.5rem;
}

.secondary-nav {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
  width: 100%;
  background-color: #1a1517;
}
.secondary-nav ul {
  list-style-type: none;
}
.secondary-nav a {
  text-decoration: none;
  color: white;
}
.secondary-nav a:hover {
  color: #ffc632;
  transition: all 0.2s ease-in;
}
.secondary-nav li {
  font-size: 0.7rem;
  text-transform: uppercase;
  margin: 0 15px;
}

.secondary-nav img {
  max-width: 205px;
}
.secondaryNav-container {
  display: flex;
  max-width: 1920px;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

nav .actions {
  display: flex;
  align-items: center;
}
nav .actions img {
  padding-right: 5px;
  height: 20px;
  width: 20px;
}
.actions li:first-child a {
  display: flex;
  align-items: center;
}
/* main content */
header {
  max-width: 1920px;
  max-height: 800px;
}
header img {
  width: 100%;
  height: auto;
}

section .promo-container {
  display: flex;
  align-items: center;
  max-width: 1320px;
  margin: 50px auto;
}
section .promo-container .promo-wrapper {
  display: block;
  margin: auto;
  position: relative;
  z-index: -1;
}

section .promo-container .promo-wrapper .promo-banner {
  max-width: 570px;
  color: white;
  position: absolute;
  top: 50%;
  left: 5%;
}
section .promo-container .promo-wrapper .promo-banner h2 {
  font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;
  margin-bottom: 0;
}
section .promo-container .promo-wrapper .promo-banner p {
  font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-weight: 300;
  margin: 0;
}

section .promo-container .promo-wrapper .promo-banner button {
  background-image: none;
  background: #ffc632;
  border: 1px solid transparent;
  color: #1a1517;
  cursor: pointer;
  display: inline-block;
  font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-weight: 700;
  padding: 11px 23px;
  font-size: 1.3rem;
  box-sizing: border-box;
  vertical-align: middle;
  text-transform: uppercase;
  margin-top: 15px;
}

.accessories .wrapper {
  max-width: 1920px;
  max-height: 628px;
  position: relative;
  z-index: -1;
  overflow: hidden;
}
.accessories .wrapper img {
  max-width: 100%;
  height: auto;
}

.accessories .wrapper .accessories-btn span::before {
  content: url(./images/plus.svg);
  filter: invert(79%) sepia(89%) saturate(1866%) hue-rotate(330deg)
    brightness(103%) contrast(100%);
}

.accessories .wrapper .accessories-btn span {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  color: white;
  text-transform: uppercase;
  position: absolute;
  top: 65%;
  left: 18%;
  padding-top: 10px;
  border-top: 1px solid #fbf3f3;
}

.showcase-container {
  display: flex;
  max-width: 1320px;
  margin: 50px auto;
  align-items: center;
  column-gap: 20px;
}

.showcase-container .showcase-wrapper img {
  max-width: 410px;
  border-top: 6px solid #ffc632;
}

/* showcase banner */
.showcase-container .showcase-wrapper {
  display: block;
  margin: auto;
  position: relative;
  z-index: -1;
}

.showcase-container .showcase-wrapper .showcase-banner {
  max-width: 570px;
  color: white;
  position: absolute;
  top: 50%;
  left: 5%;
}

.showcase-container .showcase-wrapper .showcase-banner h2 {
  font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 69px;
  margin-bottom: 0;
  text-transform: uppercase;
}

/* footer */
.footer-container {
  max-width: 1920px;
  margin: 0 auto;
  background-color: #1a1517;
}

.top-footer {
  max-width: 1320px;
  margin: 0 auto;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  padding: 15px;
}

.news-letter #email {
  padding: 10px 15px;
  height: 55.5px;
  width: 426px;
  font-weight: 700;
  font-size: 1.4rem;
  text-transform: uppercase;
  border: 0;
}

.email-container {
  display: flex;
  align-items: center;
}
.email-container button {
  background: none;
  border: none;
  cursor: pointer;
  background-color: #fff;
  height: 55.5px;
  padding-right: 5px;
}

.socials {
  grid-column: 4;
}
.social-btns ul {
  padding: 0;
  list-style-type: none;
  display: flex;
}

.social-btns ul li {
  margin-right: 10px;
}

/* upper footer */
.upper-footer {
  max-width: 1290px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.upper-footer .title {
  margin: 0;
  font-size: 1rem;
  line-height: 32px;
  text-transform: uppercase;
  color: #fff;
}

.upper-footer ul {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
}
.upper-footer li {
  color: #6a6a6a;
  font-family: "Roboto", sans-serif;
  line-height: 2.4;
}
.upper-footer h4 {
  margin-bottom: 10px;
  color: #fff;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-weight: bold;
}
